Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    modernize-*,
    performance-*,
    readability-*,
    -modernize-use-auto,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -readability-magic-numbers

HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:
    readability-identifier-naming.StructCase: CamelCase
    bugprone-easily-swappable-parameters.IgnoredParameterNames: '"";iterator;Iterator;begin;Begin;end;End;first;First;last;Last;lhs;LHS;rhs;RHS;x;y;z'
